#adapter_transformers==2.1.2
#datasets==1.11.0
adapter_transformers
datasets
#deeppavlov==0.15.0
#editdistance==0.5.3
hdt==2.3
jieba==0.42.1
networkx==2.5.1
#nltk==3.6.2
#numpy==1.19.5
pandas==0.25.3
pymorphy2==0.8
rapidfuzz==0.7.6
rdflib==5.0.0
rdflib_hdt==3.0
scikit_learn==0.21.2
scipy==1.4.1
#sentence_transformers==0.3.9
sentence_transformers
sqlite_utils==3.22
synonyms==3.16.0
timer==0.2.2
torch==1.9.0
#tqdm==4.62.2
transformers==4.16.2
